// Styling for the gallery section
#gallery {
    .gallery-item {
        max-width: 25rem;
        margin-left: auto;
        margin-right: auto;

        .gallery-images {
            position: relative;
            display: block;
            margin: 0 auto;
        }
    }
}
